# Mainnet RPC URL used for fetching blockchain data. Alchemy is recommended.
LOCALHOST_RPC_URL=http://127.0.0.1:8545/
MOONBASE_RPC_URL=https://rpc.testnet.moonbeam.network
# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=postgres://postgre:postgre@localhost:5432/postgre